/*body{
	font-family: 'Source Code Pro', monospace;
	color: #ffffff;
	background: linear-gradient(0deg, #4b6cb7 0%, #182848 100%);
}*/

.price{
	display:inline;
	color: #000000;
}

.priceRed{
	display:inline;
	color: #e03838;
}

.priceGreen{
	display:inline;
	color: #32a852;
}